.bottom{
    padding: 8% 1%;
    position: absolute;
    width: 692px;
    height: 548px;
    left: 196px;
    top: 404px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.links div{
    margin: 10px;
}